
    <% include ./partials/_head %>

    <div class="container">
      <h1>Movie Quotes</h1>

      <div class="accordion" id="quote-list">
        <%# do for loop here %>
        
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button
                class="btn btn-link collapsed"
                type="button"
                data-toggle="collapse"
                data-target="#quote-id"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Quote content
              </button>
            </h5>

            <span>
              <form method="" action=""><input type="submit" class="btn btn-secondary btn-sm" value="Edit"></form>
              <form method="" action=""><input type="submit" class="btn btn-secondary btn-sm"
                  value="Delete"></form>
            </span>

          </div>
          <div
            id="quote-id"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#quote-list"
          >
            <div class="card-body">
              <h4>Comments</h4>

              <ul class="list-group">
              <%# for loop for comments %>
                <li class="list-group-item">
                  comment content
                  <span>
                    <form method="" action=""><input type="submit" class="btn btn-secondary btn-sm"
                      value="Edit"></form>
                      <form method="" action=""><input type="submit" class="btn btn-secondary btn-sm"
                      value="Delete"></form>
                    </span>
                </li>
                <%# close comment for loop %>
              </ul>

              <a href="#" class="btn btn-info">Add Comment</a>
            </div>
          </div>
        </div>
        <%# close quote for loop %>
      </div>
      <a href="#" class="btn btn-primary">Add Quote</a>
    </div>
  </body>
</html>
